.swiper-pagination-bullet-active {
    background-color: black;
    transform: scale(1.6);
    transition: .5s;
}

.swiper-pagination-bullet {
    transition: .6s;
}

.swiper-pagination {
    padding-top: 10px;
}