<nav class="flex flex-col w-full md:flex md:flex-row lg:px-20  fade">
  <div class="flex md:w-2/5 justify-center lg:justify-start">
    <LinkTo @route="index" class="w-auto my-5"><img alt="" class="h-10 w-auto md:h-20 lg:self-start mr-3" src="/assets/logo.png"...attributes></LinkTo>
  </div>
  <div class="flex flex-row justify-around lg:justify-around items-center md:w-3/5 h-auto">

  {{scroll-to
    label="Interiors"
    target="#interiors"
    tagName="a"
    classNames="scroll-btn text-sm md:text-2xl mr-2 lg:text-3xl font-bold uppercase cursor-pointer"
    offset="700"
  }}
  {{scroll-to
    label="Projects"
    target="#projects"
    tagName="a"
    classNames="scroll-btn text-sm md:text-2xl mr-2 lg:text-3xl font-bold uppercase cursor-pointer"
    offset="2"
  }}
  {{scroll-to
    label="Contacts"
    target="#contacts"
    tagName="a"
    classNames="scroll-btn text-sm md:text-2xl mr-2 lg:text-3xl font-bold uppercase cursor-pointer"
  }}
  </div>
</nav>