<nav class="flex flex-col w-full md:flex md:flex-row ">
  <div class="flex md:w-2/5">
    <LinkTo @route="index" class="w-auto m-5 mx-auto md:ml-5"><img src="assets/logo.png" alt="" class="h-10 w-auto md:h-20"></LinkTo>
  </div>
  <div class="flex flex-row justify-around md:w-3/5 md:mt-5 h-auto">
  <!-- a tags are clicable even not only on the text -->
  <LinkTo @route="index" class="md:text-4xl">Interiors</LinkTo>
  <LinkTo @route="index" class="md:text-4xl">Projects</LinkTo>
  <LinkTo @route="index" class="md:text-4xl">Contacts</LinkTo>
  </div>
</nav>