<nav class="flex flex-col w-full md:flex md:flex-row ">
  <div class="flex md:w-2/5">
    <a href="" class="w-auto m-5 mx-auto md:ml-5"><img src="assets/logo.png" alt="" class="h-10 w-auto md:h-20"></a>
  </div>
  <div class="flex flex-row justify-around md:w-3/5 md:mt-5 h-auto">
  <!-- a tags are clicable even not only on the text -->
    <a href="#interiors" class="md:text-4xl" >Interiors</a>
    <a href="#projects" class="md:text-4xl" >Projects</a>
    <a href="" class="md:text-4xl" >Contact</a>
  </div>
</nav>
{{yield}}