  <div class="absolute bottom-5 left-5">
    <a href=""><i class="fab fa-facebook-square md:text-5xl mr-1 md:mr-5"></i></a>
    <a href=""><i class="fab fa-instagram md:text-5xl mr-1 md:mr-5"></i></a>
    <a href=""><i class="fab fa-twitter-square md:text-5xl "></i></a>
  </div>