
<div class="w-full h-2/3 lg:w-3/4 lg:h-full">
  {{#swiper-container class="
    flex border-solid border-4 border-blue-500 h-full w-full
    md:w-full
    lg:w-full"
    grabCursor=true
    loop=true
    loopAdditionalSlides=3
    slidesPerView=3
    pagination=true
    centeredSlides=true
  }}  
      {{#each @model as |image|}}
        {{#swiper-slide class="flex justify-center items-center h-full w-40 p-2"}}
          <img src="{{image}}" alt="">
        {{/swiper-slide}}
      {{/each}}
  {{/swiper-container}}
</div>

{{yield}}