  <div id="interiors" class="h-1/2 w-full">
    <div class="border-solid border-4 border-gray-800 h-full w-full flex flex-col items-center justify-evenly">
      <h1>Interiors</h1>
      <Swiper />
    </div>
  </div>
{{yield}}