{{#swiper-slide class="flex justify-center w-full
 p-2 overflow-hidden md:py-10"}}
  {{yield}}
  <a class="py-10 md:py-0 hover:opacity-30 transform hover:scale-125 transition duration-500 ease-in-out 
   flex justify-center" ...attributes>
     <img ...attributes>
  </a>
{{/swiper-slide}}   