<section class="w-full h-screen">
  <nav class="flex flex-col w-full md:flex md:flex-row ">
    <div class="flex md:w-2/5">
      <a href="" class="w-auto m-5 mx-auto md:ml-5"><img src="assets/logo.png" alt="" class="h-10 w-auto md:h-20"></a>
    </div>
    <div class="flex flex-row justify-around md:w-3/5 md:mt-5 h-auto">
    <!-- a tags are clicable even not only on the text -->
      <a href="" class="md:text-4xl w-auto" >Interiors</a>
      <a href="" class="md:text-4xl" >Products</a>
      <a href="" class="md:text-4xl" >Contact</a>
    </div>
  </nav>
  <div class="absolute left-12 top-1/3 md:left-1/3">
    <img src="assets/hello.png" alt="" class="h-32 w-auto md:h-72">
  </div>
  <div class="absolute bottom-5 left-5">
    <a href=""><i class="fab fa-facebook-square md:text-5xl mr-2 md:mr-5"></i></a>
    <a href=""><i class="fab fa-instagram md:text-5xl mr-2 md:mr-5"></i></a>
    <a href=""><i class="fab fa-twitter-square md:text-5xl "></i></a>
  </div>
</section>
<section>Interior</section>
<section>Products</section>
<section>Contact</section>
{{outlet}}
