 <div class="flex flex-col lg:pt-20 lg:p-20">
   <Gallery::Title @title="Paulen House"/>
    <Grid class="grid-rows-8">
      <Grid::Item class="col-start-1 row-span-3 col-span-4" src="assets/ph/1.jpg"/>
      <Grid::Item class="col-start-5 row-span-3 col-span-2" src="assets/ph/3.jpg"/>
      <Grid::Item class="col-start-1 row-span-2 col-span-3 self-center" src="assets/ph/4.jpg"/>
      <Grid::Item class="col-start-4 row-span-2 col-span-3" src="assets/ph/2.jpg"/>
      <Grid::Item class="col-start-1 row-span-1 col-span-2" src="assets/ph/5.jpg"/>
      <Grid::Item class="col-start-3 row-span-1 col-span-2" src="assets/ph/6.jpg"/>
      <Grid::Item class="col-start-5 row-span-1 col-span-2" src="assets/ph/8.jpg"/>
      <Grid::Item class="col-start-1 row-span-1 col-span-6" src="assets/ph/7.jpg"/>
    </Grid>
      <Gallery::Title @title="Kids room"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 col-span-3" src="assets/cr/1.jpg"/>
      <Grid::Item class="col-start-4 col-span-3" src="assets/cr/5.jpg"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/cr/4.jpg"/>
      <Grid::Item class="col-start-3 col-span-4 row-span-2" src="assets/cr/2.jpg"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/cr/3.jpg"/>
      
    </Grid>
   <Gallery::Title @title="Chillout Zone"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 row-span-2 col-span-4" src="assets/cz/1.jpg"/>
      <Grid::Item class="col-start-5 col-span-2" src="assets/cz/4.jpg"/>
      <Grid::Item class="col-start-5 col-span-2" src="assets/cz/3.jpg"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/cz/5.jpg"/>
      <Grid::Item class="col-start-3 row-span-2 col-span-4" src="assets/cz/2.jpg"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/cz/6.jpg"/>
      <Grid::Item class="col-start-3 col-span-4" src="assets/cz/7.jpg"/>
    </Grid>
      <Gallery::Title @title="Bathroom in Fogo House"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 row-span-2 col-span-6" src="assets/bf/1.jpg"/>
      <Grid::Item class="col-start-1 row-span-2 col-span-2" src="assets/bf/3.jpg"/>
      <Grid::Item class="col-start-3 row-span-2 col-span-2" src="assets/bf/2.jpg"/>
      <Grid::Item class="col-start-5 col-span-2" src="assets/bf/4.jpg"/>
      <Grid::Item class="col-start-1 col-span-6" src="assets/bf/5.jpg"/>
    </Grid>
   <Gallery::Title @title="Bathroom in Selec House"/>
    <Grid class="grid-rows-1">
      <Grid::Item class="col-start-1 col-span-3" src="assets/bs/1.png"/>
      <Grid::Item class="col-start-4 col-span-3" src="assets/bs/2.png"/>
    </Grid>
      <Gallery::Title @title="Chair - raja"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 row-span-4 col-span-4 self-center" src="assets/chr/9.jpg"/>
      <Grid::Item class="col-start-5 row-span-2 col-span-2" src="assets/chr/1.PNG"/>
      <Grid::Item class="col-start-5 row-span-2 col-span-2" src="assets/chr/2.PNG"/>
      <Grid::Item class="col-start-1 row-span-2 col-span-2" src="assets/chr/4.PNG"/>
      <Grid::Item class="col-start-3 row-span-4 col-span-4 " src="assets/chr/3.PNG"/>
      <Grid::Item class="col-start-1 row-span-2 col-span-2" src="assets/chr/5.PNG"/>
      <Grid::Item class="col-start-1 col-span-4" src="assets/chr/8.jpg"/>
      <Grid::Item class="col-start-5 col-span-2" src="assets/chr/6.PNG"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/chr/7.jpg"/>
    </Grid>
   <Gallery::Title @title="Bottle - bane"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 row-span-3 col-span-2" src="assets/bb/1.JPG"/>
      <Grid::Item class="col-start-3 row-span-3 col-span-2" src="assets/bb/2.JPG"/>
      <Grid::Item class="col-start-5 row-span-3 col-span-2" src="assets/bb/3.JPG"/>
      <Grid::Item class="col-start-1 row-span-3 col-span-2" src="assets/bb/4.JPG"/>
      <Grid::Item class="col-start-3 row-span-3 col-span-4 self-end" src="assets/bb/5.JPG"/>
    </Grid>

      <Gallery::Title @title="Toy - Ghetto"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 row-span-4 col-span-4" src="assets/tg/1.jpg"/>
      <Grid::Item class="col-start-5 row-span-1 col-span-2" src="assets/tg/5.PNG"/>
      <Grid::Item class="col-start-5 row-span-1 col-span-2 self-end" src="assets/tg/7.jpg"/>
      <Grid::Item class="col-start-5 row-span-2 col-span-2 self-end" src="assets/tg/8.jpg"/>
      <Grid::Item class="col-start-1 row-span-2 col-span-4" src="assets/tg/2.jpg"/>
      <Grid::Item class="col-start-5 row-span-1 col-span-2 self-start" src="assets/tg/4.jpg"/>
      <Grid::Item class="col-start-5 row-span-1 col-span-2 self-end" src="assets/tg/6.PNG"/>
      <Grid::Item class="col-start-1 row-span-1 col-span-6" src="assets/tg/3.jpg"/>


    </Grid>
   <Gallery::Title @title="Bench - C1"/>
    <Grid class="grid-rows-2">
      <Grid::Item class="col-start-1 col-span-4" src="assets/bc1/1.jpg"/>
      <Grid::Item class="col-start-5 col-span-2" src="assets/bc1/4.jpg"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/bc1/3.jpg"/>
      <Grid::Item class="col-start-3 col-span-4 self-end" src="assets/bc1/2.jpg"/>
    </Grid>
      <Gallery::Title @title="Stool - Ludo"/>
    <Grid class="grid-rows-10">
      <Grid::Item class="col-start-1 row-span-6 col-span-4" src="assets/sl/1.JPG"/>
      <Grid::Item class="col-start-5 row-span-3 col-span-2" src="assets/sl/2.JPG"/>
      <Grid::Item class="col-start-5 row-span-3 col-span-2" src="assets/sl/3.JPG"/>
      <Grid::Item class="col-start-1 col-span-2" src="assets/sl/4.JPG"/>
      <Grid::Item class="col-start-3 col-span-2" src="assets/sl/5.JPG"/>
      <Grid::Item class="col-start-5 col-span-2" src="assets/sl/6.JPG"/>
    </Grid>
 </div>
