 <Navbar src="assets/logo.png"/>
   <div class="flex flex-col w-full lg:px-20">
    <Categories>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
      <Item @title="Paulen"/>
    </Categories>
    <Footer />
 </div>