<section class="w-full h-screen">
  <Navbar />
  <Hello />
  <Socials />
</section>
<section class="h-screen relative">
  <SwiperSection>
    <Swiper>
      <Swiper::Slide class="h-96" src="assets/paul.jpg"/>
      <Swiper::Slide src="assets/kid.jpg"/>
      <Swiper::Slide src="assets/chill.jpg"/>
      <Swiper::Slide src="assets/bath.jpg"/>
      <Swiper::Slide src="assets/baths.png"/>
    </Swiper>
    <Swiper>
      <Swiper::Slide src="assets/bath.jpg"/>
      <Swiper::Slide src="assets/bath.jpg"/>
      <Swiper::Slide src="assets/bath.jpg"/>
      <Swiper::Slide src="assets/bath.jpg"/>
      <Swiper::Slide src="assets/bath.jpg"/>
    </Swiper>
  </SwiperSection>
</section>
<section>Products</section>
<section>Contact</section>
