<section class="w-full h-screen">

  <Hello />
  <Socials class="absolute fade bottom-5 left-6 lg:left-20">
    <Socials::Item href="https://www.facebook.com/barborka.gaziova">
      <Icon class="fab fa-facebook-f  lg:text-5xl mr-1 md:mr-5"/>
    </Socials::Item>
    <Socials::Item href="https://twitter.com/barboragaziova">
      <Icon class="fab fa-twitter lg:text-5xl mr-1 md:mr-5"/>
    </Socials::Item>
    <Socials::Item href="https://www.instagram.com/_barbora.g/">
      <Icon class="fab fa-instagram lg:text-5xl mr-1 md:mr-5"/>
    </Socials::Item>
  </Socials>
</section>
<section class="relative">

  <SwiperSection id="interiors" class="target">
    <Swiper::Title @title=interiors />
    <Swiper>
      <Swiper::Slide href="/paul" src="assets/paul.jpg">
        <Slide::Title @title="Paulen House" />
      </Swiper::Slide>
      <Swiper::Slide href="/kids"  src="assets/kid.jpg">
        <Slide::Title @title="Kids room" />
      </Swiper::Slide>
      <Swiper::Slide href="/chill" src="assets/chill.jpg">
        <Slide::Title @title="Chillout zone" />
      </Swiper::Slide>
      <Swiper::Slide href="/fogo" src="assets/bathf.jpg">
        <Slide::Title @title="Bath - FoGo" />
      </Swiper::Slide>
      <Swiper::Slide href="/selec" src="assets/baths.png">
        <Slide::Title @title="Bath - Selec" />
      </Swiper::Slide>
    </Swiper>
  </SwiperSection>s

  <SwiperSection id="projects" class="target">
    <Swiper::Title @title=projects  />
    <Swiper>
      <Swiper::Slide href="/raja" src="assets/Raja.jpg">
        <Slide::Title @title="Chair - Raja" />
      </Swiper::Slide>
      <Swiper::Slide href="/bane" src="assets/bane.png">
        <Slide::Title @title="Bottle - Bane" />
      </Swiper::Slide>
      <Swiper::Slide href="/ghetto" src="assets/ghetto.JPG">
        <Slide::Title @title="Toy - Ghetto" />
      </Swiper::Slide>
      <Swiper::Slide href="/c1" src="assets/C1.jpg">
        <Slide::Title @title="Bench - C1" />
      </Swiper::Slide>
      <Swiper::Slide href="/ludo" src="assets/ludo.png">
        <Slide::Title @title="Stool - Ludo" />
      </Swiper::Slide>
    </Swiper>
  </SwiperSection>
</section>
<section class="w-full">
</section>
