<section class="w-full h-screen">
  <Navbar />
  <Hello />
  <Socials />
</section>
<section class="h-screen relative">
  <SwiperSection>
    <Swiper::Title @title=interiors/>
    <Swiper>
      <Swiper::Slide src="assets/paul.jpg" class="hover:bg-purple-700 hover:bg-opacity-50"/>
      <Swiper::Slide src="assets/kid.jpg"/>
      <Swiper::Slide src="assets/chill.jpg"/>
      <Swiper::Slide src="assets/bathf.jpg"/>
      <Swiper::Slide src="assets/baths.png"/>
    </Swiper>
    </SwiperSection>
    <SwiperSection>
    <Swiper::Title @title=projects />
    <Swiper>
      <Swiper::Slide src="assets/bathf.jpg"/>
      <Swiper::Slide src="assets/bathf.jpg"/>
      <Swiper::Slide src="assets/bathf.jpg"/>
      <Swiper::Slide src="assets/bathf.jpg"/>
      <Swiper::Slide src="assets/bathf.jpg"/>
    </Swiper>
  </SwiperSection>
</section>
<section>Products</section>
<section>Contact</section>
