<section class="w-full h-screen">
  <Navbar />
  <Hello />
  <Socials />
</section>
<section class="h-screen relative">
  <SwiperSection />
</section>
<section>Products</section>
<section>Contact</section>
