<section class="w-full h-screen">
  <Navbar />
  <Hello />
  <Socials />
</section>
<section class="h-screen relative">
  <SwiperSection>
    <Swiper::Title @title=interiors/>
    <Swiper>
      <Swiper::Slide src="assets/paul.jpg">
        <Slide::Title @title="Paulen" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/kid.jpg">
        <Slide::Title @title="Kids room" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/chill.jpg">
        <Slide::Title @title="Chillout zone" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/bathf.jpg">
        <Slide::Title @title="Bath f" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/baths.png">
        <Slide::Title @title="Bath Selec" />
      </Swiper::Slide>
    </Swiper>
  </SwiperSection>
  <SwiperSection>
    <Swiper::Title @title=projects />
    <Swiper>
      <Swiper::Slide src="assets/Raja.jpg">
        <Slide::Title @title="Raja" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/bane.jpg">
        <Slide::Title @title="Multi purpose reusable bottle - Bane" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/ghetto.JPG">
        <Slide::Title @title="Toy - Ghetto" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/C1.jpg">
        <Slide::Title @title="Bench - C1" />
      </Swiper::Slide>
      <Swiper::Slide src="assets/ludo.jpg">
        <Slide::Title @title="Kid's stool - Ludo" />
      </Swiper::Slide>
    </Swiper>
  </SwiperSection>
</section>
<section>Products</section>
<section>Contact</section>
